extends layout

block content
  h1= title
  table.table(border='1')
    tr
        th name
        th email
        th mobile
        th actions
    each u in users
        tr
            td=u.name
            td=u.email
            td=u.mobile
            td
              div
                form(action="/users/"+u.id, method="post")
                  button.btn.btn-danger(type="submit") Delete